<h1>Listing projects</h1>

<table class='zebra-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td>
          <%= link_to 'Show', project %>
          <%= '|' %>
          <%= link_to 'Edit', edit_project_path(project) %>
          <%= '|' %>
          <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Project', new_project_path %>