<%= form_for @survey_form do |f| %>
  <% if @survey_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey_form.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :size => 40 %>
  </div>

  <h2>Questions</h2>
  <%= f.fields_for :questions do |question_fields| %>
    <%= render "questions", :f => question_fields %>
  <% end %>

  <%= link_to_add_fields("Add a Question", f, :questions) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
