<div class="nested-fields">
  <div class="field">
    <%= f.label :content, "Question" %><br>
    <%= link_to_remove_association "remove", f %><br />
    <%= f.text_area :content, :cols => 30, :rows => 2 %>
  </div>

  <h2>Answers</h2>
  <%= f.fields_for :answers do |answer_fields| %>
    <%= render "answer_fields", :f => answer_fields %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "Add Answer", f, :answers %>
  </div>

</div>
