<div class="nested-fields">
  <div class="field">
    <%= f.label :topic %><br>
    <%= f.text_field :topic %>
  </div>

  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>  

  <%= link_to_remove_fields("Delete", f) %>

  <hr />
</div>
