<div class="field">
  <%= f.label :name, "Speaker Name" %><br>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :occupation %><br>
  <%= f.text_field :occupation %>
</div>

<h2>Presentantions</h2>
<%= f.fields_for :presentations do |presentations_fields| %>
  <%= render "presentations", :f => presentations_fields %>
<% end %>

<%= link_to_add_fields("Add a Presentation", f, :presentations) %>