<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender_display_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email.address %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user.profile.twitter_name %>
</p>

<p>
  <strong>Github:</strong>
  <%= @user.profile.github_name %>
</p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>